<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Определение бина -->
<!--    <bean id="myBean" class="com.example.MyClass">-->
<!--        <property name="property1" value="Value1"/>-->
<!--        <property name="property2" ref="anotherBean"/>-->
<!--    </bean>-->
    <bean id="catBean" class="site.javadev.lesson_17.Cat">
        <constructor-arg value="Мурка"/>
        <constructor-arg value="3"/>
    </bean>

    <bean id="dogBean" class="site.javadev.lesson_17.Dog">
        <constructor-arg value="Шарик"/>
        <constructor-arg value="5"/>
    </bean>

    <bean id="tigerBean" class="site.javadev.lesson_17.Tiger">
        <constructor-arg value="Тигр"/>
        <constructor-arg value="4"/>
    </bean>

    <bean id="duckBean" class="site.javadev.lesson_17.Duck">
        <constructor-arg value="Утка"/>
        <constructor-arg value="2"/>
    </bean>
    <bean id="zooBean" class="site.javadev.lesson_17.Zoo">
        <constructor-arg ref="catBean"/>
        <constructor-arg ref="dogBean"/>
        <constructor-arg ref="tigerBean"/>
        <constructor-arg ref="duckBean"/>
    </bean>
<!--    <bean id="anotherBean" class="com.example.AnotherClass">-->
<!--        <property name="someProperty" value="SomeValue"/>-->
<!--    </bean>-->
</beans>

