<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h1>Calculator</h1>
<p>First number: <span th:text="${keyOfFirst}">0</span></p>
<p>Second number: <span th:text="${keyOfSecond}">0</span></p>

<hr/>

<h2>Calculation Results:</h2>
<p>Sum: <span th:text="${sum}">0</span></p>
<p>Difference: <span th:text="${difference}">0</span></p>
<p>Product: <span th:text="${product}">0</span></p>
<p>Remainder: <span th:text="${remainder}">0</span></p>

</body>
</html>
